<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Page Object Model">
	<listeners>
		<listener class-name="com.test.listeners.CustomListeners"></listener>
	</listeners>
	<test thread-count="5" name="Login Test">
		<classes>
			<class name="com.test.testcases.LoginTest" />
		</classes>
	</test>
	<test thread-count="5" name="Create Account Test">
		<classes>
			<class name="com.test.testcases.CreateAccountTest" />
		</classes>
	</test>
</suite>