<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<!-- Properties for file paths and patterns -->
	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level
			%logger{36} - %msg%n</Property>
		<Property name="LOG_PATH">src/test/resources/com/test/logs</Property>
		<Property name="LOG_FILE">Application.log</Property>
	</Properties>

	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<!-- Rolling File Appender - This is the ONLY file appender we need -->
		<RollingFile name="RollingFileAppender"
			fileName="${LOG_PATH}/${LOG_FILE}" append="false"
			filePattern="${LOG_PATH}/Application-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<!-- Separate Error File Appender -->
		<RollingFile name="ErrorFileAppender"
			fileName="${LOG_PATH}/Application-errors.log" append="false"
			filePattern="${LOG_PATH}/Application-errors-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5MB" />
			</Policies>
			<DefaultRolloverStrategy max="3" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- Logger for your test packages -->
		<Logger name="com.test" level="DEBUG" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFileAppender" />
			<AppenderRef ref="ErrorFileAppender" />
		</Logger>
		<!-- Root Logger -->
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFileAppender" />
		</Root>
	</Loggers>

</Configuration>